#{extends 'main.html' /}
<!--<!DOCTYPE html>

<html>
    <head runat="server">
    
        <title>Calendar</title>

        <link href="css/jquery-ui.css" rel="stylesheet" />
        <link href="css/jquery.ui.theme.css" rel="stylesheet" />

        <link href="css/timelineScheduler.css" rel="stylesheet" />
        <link href="css/timelineScheduler.styling.css" rel="stylesheet" />
        <link href="css/calendar.css" rel="stylesheet" />

        <script src="js/moment.min.js"></script>
        <script src="js/jquery-1.9.1.min.js"></script>
        <script src="js/jquery-ui-1.10.2.min.js"></script>
    
        <script src="js/timelineScheduler.js"></script>
        <script src="js/calendar.js"></script>

    </head>
    <body>
-->
<link href="../public/libs/timeline-scheduler/css/jquery-ui.css" rel="stylesheet" />
<link href="../public/libs/timeline-scheduler/css/jquery.ui.theme.css" rel="stylesheet" />

<link href="../public/libs/timeline-scheduler/css/timelineScheduler.css" rel="stylesheet" />
<link href="../public/libs/timeline-scheduler/css/timelineScheduler.styling.css" rel="stylesheet" />
<link href="../public/libs/timeline-scheduler/css/calendar.css" rel="stylesheet" />

<script src="../public/libs/timeline-scheduler/js/moment.min.js"></script>
<script src="../public/libs/timeline-scheduler/js/jquery-1.9.1.min.js"></script>
<script src="../public/libs/timeline-scheduler/js/jquery-ui-1.10.2.min.js"></script>

<script src="../public/libs/timeline-scheduler/js/timelineScheduler.js"></script>

<div ng-controller="FullcalendarCtrl">
  <div class="wrapper-md bg-light b-b">
    <button type="button" class="btn btn-default btn-addon pull-right m-t-n-xs" ui-toggle-class="show" target="#aside">
      <i class="fa fa-bars"></i> List
    </button>
    #{if usermodel?.id}
	    <h1 class="m-n font-thin h3">Edit User</h1>
	#{/if}
	#{else}
	    <h1 class="m-n font-thin h3">New User</h1>
	#{/else}
  </div>
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col wrapper-md">
      <div class="clearfix m-b">

        <div class="calendar">

        </div>
        <div class="realtime-info">
            
        </div>
     </div>
    </div>
   </div>
 </div>
    
<!--
    
    </body>
</html>
-->
<script type="text/javascript">
var today = moment().startOf('day');
var global_Settings = [];
var global_Items = [];
var i=0;

		%{
			for(models.FarmerCropTask task:farmerCropTaskList)
			{
		%}	
			global_Settings.push({	id: '${task.crop}',	name: '${task.cropName}' });			
			i++;
		%{
				for(models.FarmerTask fTask : task.farmerTaskList)
				{
					%}
						global_Items.push({
							id: '${fTask.id}',
							name: '<div>${fTask.cropActivity.name}</div>',
							//start: moment(today).add('hours', 12),
							start: moment(today).add('days', '${fTask.taskDateStr}'),
							//end: moment(today).add('days', 3).add('hours', 4),
							end: moment(today).add('days', '${fTask.taskDateStr}').add('hours', 8),
							sectionID: '${task.crop}',
							classes: 'item-status-one',
							events: [
								{
									icon: '',
									label: 'one',
									at: moment(today).add('hours', 6),
									classes: 'item-event-one'
								}
							]
						});
					%{
				}	
			}
		%}		

</script>
<script src="../public/libs/timeline-scheduler/js/calendar.js"></script>
<script type="text/javascript">
$(document).ready(function() {
var currentLangCode = 'en';
currentLangCode = '${play.i18n.Lang.get()}';
var a={1:"১",2:"২",3:"৩",4:"৪",5:"৫",6:"৬",7:"৭",8:"৮",9:"৯",0:"০"};
/*
// build the language selector's options
$.each($.fullCalendar.langs, function(langCode) {
	$('#lang-selector').append(
		$('<option/>')
			.attr('value', langCode)
			.prop('selected', langCode == currentLangCode)
			.text(langCode)
	);
});

// rerender the calendar when the selected option changes
$('#lang-selector').on('change', function() {
	//console.log('llllllllllllllllll');
	if (this.value) {
		currentLangCode = this.value;
		$('#calendar').fullCalendar('destroy');
		renderCalendar();
	}
});
*/
});
		
</script>
